.button {
  transition: 220ms all ease-in-out;
}

.google {
  color: #fef7fb;
  background-color: #4285f4;
}

.google:hover, .google:focus, .google:active {
  color: #fef7fb !important;
  background-color: #306bca  !important;
}

.github {
  color: #e6edf3;
  background-color: #0d1117;
}

.github:hover, .github:focus, .github:active {
  color: #eee !important;
  background-color: #10376e  !important;
}

.discord {
  color: #FFFFFF;
  background-color: #5865F2;
}

.discord:hover, .discord:focus, .discord:active {
  color: #FFFFFF !important;
  background-color: #8891f2  !important;
}