.menuBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bs-primary-bg-subtle);
  height: var(--header-height);
}

.logo {
  height: calc(var(--header-height) - 1rem);
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu a {
  color: var(--text-color);
  text-decoration: none;
}

.menu li {
  height: 2rem;
  padding: 0 2rem 0 2rem;
  border-bottom: 2px solid var(--bs-gray-600);
}
.menu li:hover {
  border-bottom: 2px solid var(--bs-gray-800);
}

.active {
  border-bottom: 2px solid var(--bs-primary) !important;
  color: var(--bs-primary);
}

.user {
  display: flex;
  gap: 0.4rem;
  align-items: center;
}