.menuBar {
  background-color: var(--surface-overlay);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bs-primary-bg-subtle);
}

.spinner {
  overflow: hidden;
  margin: auto;
  width: fit-content;
  height: fit-content;
  margin-top: 10rem;
}

.logo {
}

.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.menu a {
  color: var(--text-color);
  text-decoration: none;
}

.menu li {
  height: 2rem;
  padding: 0 2rem 0 2rem;
  border-bottom: 2px solid var(--bs-gray-600);
}
.menu li:hover {
  border-bottom: 2px solid var(--bs-gray-800);
}

.active {
  border-bottom: 2px solid var(--bs-primary) !important;
  color: var(--bs-primary);
}

.user {
}

.content {
  max-width: 1200px;
  min-width: 800px;
  min-height: 100vh;
  margin: auto;
  padding: 1rem 0.5rem;
}
