.container {
  display: grid;
  width: max-content;
  align-items: center;
  column-gap: 0.4rem;
}

.avatar {
  grid-row: 1 / span 2;
  grid-column: 1;
}

.name {
  grid-row: 1;
  grid-column: 2;
  font-weight: bold;
  line-height: 1rem;
}

.realName {
  grid-row: 2;
  grid-column: 2;
  font-size: 0.75rem;
  line-height: 0.75rem;
}