.image {
  width: var(--avatar-size);
  height: var(--avatar-size);
  object-fit: cover;
  border-radius: calc(var(--avatar-size) / 2);
  box-shadow: var(--bs-box-shadow-sm);
  flex-shrink: 0;
  background-color: var(--bs-secondary);
}

.dummy {
  width: var(--avatar-size);
  height: var(--avatar-size);
  border-radius: calc(var(--avatar-size) / 2);
  background-color: coral;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: var(--bs-light);
  box-shadow: var(--bs-box-shadow-sm);
  flex-shrink: 0;
  font-size: 1.4rem;
}