// Variable overrides
$green: hsl(128, 70%, 62%);
$blue: hsl(224, 89%, 75%);
$red: hsl(0, 97%, 75%);

$primary: hsl(269, 80%, 56%);
$secondary: rgb(238, 102, 217);
$tertiary: rgb(77, 65, 234);
$danger: #e72330;

// Required bootstrap stylesheets
@import "../node_modules/bootstrap/scss/bootstrap";

// Customizing
@import "./custom/forms";
@import "./custom/navbar";

// Own styles
@import "./variables";
@import "./shimmer";
