.container {
  position: relative;
  display: grid;
  grid-template-columns: 70% 30%;
  gap: 0.5rem;
}

.header {
  grid-row: 1;
  grid-column: 1 / span 2;
}

.description {
  grid-row: 2;
  grid-column: 1;
}

.meta {
  grid-row: 2;
  grid-column: 2;
}

.group {
  margin-bottom: 0.5rem;
}

.group a {
  text-decoration: none;
}

.avatar {
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 992px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .meta {
    order: 2;
  }

  .description {
    order: 3;
  }
}
