.spinner {
  overflow: hidden;
  margin: auto;
  width: fit-content;
  height: fit-content;
  margin-top: 10rem;
}

.content {
  max-width: 1200px;
  min-width: 800px;
  min-height: calc(100vh - var(--header-height) - var(--footer-min-height));
  margin: auto;
  padding: 1rem 0.5rem;
}
