.header {
  background-color: rgba(75, 15, 138, 0.5);
}

.avatar {
  gap: 0.25rem;
}

.name {
  margin: 0;
}

.realName {
  font-weight: lighter;
}

.moreHeaders {
  font-weight: lighter;
  list-style: none;
  display: flex;
}

.moreHeaders li:not(:first-child)::before {
  content: "\0000a0\002022\0000a0";
}
